body{
  font-size: 16px;
  font-family: 'aldo',sans-serif;
  position:relative;
}

header{
  width: 100%;
  height: 35px;
  background: #233d58;
  position:relative;
  z-index: 999;
}
header h1{
  display:none;
}
header nav .ioMenuMovil{
  height: 25px;
  width: 120px;
  cursor: pointer;
  line-height: 40px;
  margin: 0px 0px 0px 10px;
  padding-top: 5px;
}
header nav .ioMenuMovil img{
  height: 100%;
}
header nav #card_menu{
  display:none;
  position:relative;
  width: 230px;
  background: white;
  top:-30px;
  left:0px;
  border-right: 3px solid #afaeae;
  z-index: 999;
  padding-bottom: 50px;
}
header nav #card_menu #logo_menu{
  height: 100px;
  width: 50%;
  margin: 30px 0px;
  margin-left: 25%;
  margin-bottom: 50px;
}
header nav #card_menu ul{
  margin-top: -20px;
}
header nav #card_menu ul li{
  list-style: none;
  font-size: 1.5em;
  line-height: 37px;
}
header nav #card_menu ul li a{
  text-decoration: none;
  color:#000;
}
header nav #card_menu #logo_menu img{
  width: 100%;
}
header #prev_section,
header #next_section{
  width: 25px;
  height: 25px;
  cursor:pointer;
  overflow: hidden;
  margin: 5px;
  position: absolute;
  top:0px;
  overflow: hidden;
}
header #prev_section{
  right:35px;
}
header #next_section{
  right: 5px;
}
header #prev_section img,
header #next_section img{
  width: 60%;
  top:-19px;
  left:-19px
  position:relative;
}
header #next_section img{
  transform: rotate(180deg);
}

#slider{
  width: 100%;
  position: relative;
  height: 600px;
}
#slider section.slide{
  position:absolute;
  width: 100%;
  top:-20px;
  left:0px;
}

/**********  HOME   *********/
#slider #home{
  background:#233d58;
  font-family: 'aller';
  position: relative;
  text-align: center;
  padding-bottom: 50px;

}
#slider #home .mainanimation{
  width: 80%;
  margin-left:10%;
  min-height: 400px;
  position: absolute;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles{
  font-size: 1.1em;
}
#stats,
.count-particles{
  -webkit-user-select: none;
}
#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles{
  border-radius: 0 0 3px 3px;
}
#slider #home .mainlogo{
  /*background: rgba(35,61,88,0.8);*/
  background: none;
  position: relative;
  width: 60vw;
  margin-left: 20vw;
  min-height: 430px;
}
#slider #home .mainlogo h2{
  font-size: 1.2em;
  padding-top: 80px;
  color:#FFF;
  font-weight: lighter;
}
#slider #home .mainlogo strong{
  font-size: 2em;
  font-family: 'aldo';
  display: block;
}
#slider #home .mainlogo figure,
#slider #home .mainlogo figure img{
  width: 100%;
  margin: 0;
}
#slider #home .mainlogo figure{
  padding-bottom: 30px;
}
#slider #home .buttonspage{
  width: 100%;
  text-align: center;
}
#slider #home .buttonspage > *{
  display: inline-block;
  width: 40%;
  margin: 5px 2.5%;
  color:white;
  padding: 15px 2.5%;
}
#slider #home #contratame{
  cursor:pointer;
  background: #f8931f;
}
#slider #home a{
  text-decoration: none;
  background: #29abe2;
}

/**************ABOUTME******************/
#slider #aboutme{
  background:#F1F1F1;
  font-family: 'aller';
  position: relative;
  padding-bottom: 50px;
}
#slider #aboutme .contentabout figure{
  width: 100%;
  margin: 0;
  padding: 0;
}
#slider #aboutme .contentabout figure img{
  width: 100%;
  margin-top: -33%;
}
#slider #aboutme .descripcion{
  width: 73%;
  margin-left: 10%;
  background: white;
  padding: 20px;
  padding-top: 0;
  position:relative;
  top:-40px;
  box-shadow: 1px 1px 1px #d2d2d2;
}
#slider #aboutme .descripcion h2{
  background: #29ABE2;
  color: white;
  display: inline-block;
  padding: 10px 30px 10px 20px;
  position: relative;
  top:-20px;
  left:-20px;
}
#slider #aboutme .descripcion h2:after{
  /*content:'';
  border-style: solid;
  border-width: 15px 15px 15px 0px;
  border-color: transparent #29ABE2 transparent transparent;
  position:absolute;
  left: 0;
  margin-left: -15px;
  top: 68%;*/
  content: '';
border-color: transparent #29abe2 transparent transparent;
border-style: solid;
border-width: 15px 12px 0px 15px;
left: -26px;
top: 32px;
position: absolute;
}
#slider #aboutme .descripcion h2:before{
  /*content:'';
  border-style: solid;
  border-width: 15px 15px 15px 0px;
  border-color: transparent red transparent transparent;
  position:absolute;
  left: 0;
  margin-left: -15px;
  top: 68%;*/
  content: '';
  border-color: transparent #233D58 transparent transparent;
  border-style: solid;
  border-width: 0px 12px 10px 12px;
  left: -23px;
  top: 46px;
  position: absolute;

}
#slider #aboutme .descripcion p{
  margin-top: -20px;
  margin-bottom: 40px;
}
#slider #aboutme article{
  width: 80%;
  height: 220px;
  margin-left: 10%;
  display:inline-block;
  background: white;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

}
#slider #aboutme article figure{
  width: 100%;
  margin: 0;
}
#slider #aboutme article figure img{
  width: 100%;
}
#slider #aboutme article .card_about{
  position:absolute;
  background: white;
  height:220px;
  top:150px;
  transition-duration:0.5s;
  cursor: pointer;
}
#slider #aboutme article .card_about:hover{
  top:0px;
}
#slider #aboutme article p{
  padding: 0 20px;
  color:#29ABE2;
  position:relative;
}
#slider #aboutme article p:last-child{
  color:#2d2d2d;
}
#slider #aboutme article p:first-child:before{
  font-family: 'icomoon';
  content:'\ea0a';
  position: absolute;
  right: 20px;
}
#slider #aboutme article p span{
  display: block;
  color:#AFAEAE;
}

/****************SKILLS**************************/
#slider #skills{
  background: #f1f1f1;
  font-family: 'aller';
  padding-bottom: 50px;
}
#slider #skills .content-tecnicas{
  width: 98%;
  margin:50px 1%;
}
#slider #skills h2{
  margin-left: 30px;
  font-size:1.3em;
  text-transform: uppercase;
}
#slider #skills .tecnicas{
  background: white;
  padding: 20px 30px;
  border:1px solid #ddd;
}
#slider #skills .tecnicas .tecnica p{
  font-weight: bold;
  font-size: 1.1em;
}
#slider #skills .tecnicas .tecnica progress{
  width: 100%;
  background: #f3f3f3;
  border:0;
  height: 18px;
  border-radius: 9px;
}
#slider #skills .tecnicas .tecnica progress::-webkit-progress-bar{
  background: #f3f3f3;
  border-radius: 9px;
}
#slider #skills .tecnicas .tecnica progress::-webkit-progress-value{
  background:#29ABE2 ;
  border-radius: 9px;
}
#slider #skills .tecnicas .tecnica progress::-moz-progress-bar{
  background: #29ABE2;
  border-radius:9px;
}
#slider #skills .conocimientos ul{
  list-style: none;
  display:inline-block;
  vertical-align: top;
  padding: 0px 20px;
  margin: 10px 5px;
  position:relative;
  max-width: 30%;
  min-width: 15%;
}
#slider #skills .conocimientos ul li{
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 15px;
  color:#000;
  font-weight: lighter;
}
#slider #skills .conocimientos ul li:after{
  font-family: 'icomoon';
  content: '\ea10';
  color:#29ABE2;
  position:absolute;
  left: 3px;
}
#slider #skills .hobbies h2{
  margin-bottom: 50px;
}
#slider #skills .hobbies .hobbie{
  width: 40%;
  display:inline-block;
  margin-left: 7%;
  text-align: center;
  margin-bottom: 40px;
  vertical-align: top;
}
#slider #skills .hobbies .hobbie  div{
  margin: 30px 0px;
}
#slider #skills .hobbies .hobbie  p{
  text-transform: uppercase;
}
#slider #skills .hobbies .hobbie div:before{
  font-family: 'icomoon';
  text-align: center;
  border:4px solid #29ABE2;
  border-radius: 50%;
  padding: 20px;
  font-size: 2em;
  color:#29ABE2;
}
#slider #skills .hobbies .hobbie:nth-of-type(1) div::before{
  content:'\e910';
}
#slider #skills .hobbies .hobbie:nth-of-type(2) div::before{
  content:'\e9a3';
}
#slider #skills .hobbies .hobbie:nth-of-type(3) div::before{
  content:'\ea80';
}
#slider #skills .hobbies .hobbie:nth-of-type(4) div::before{
  content:'\e956';
}


/**********************PORTAFOLIO******************************/
#slider #portfolio .categorias-title{
  font-family: 'aldo';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}
#slider #portfolio .categorias-title h2{
  border:1px solid #d2d2d2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: lighter;
  color:#2f2f2f;
  font-size: 1.1em;
  margin: 10px;
  text-align: center;
  margin-top: 0px;
  background: white;
  box-shadow: 1px 1px 1px #d2d2d2;
}

#slider #portfolio .categoria{
  width: 60%;
  height: 300px;
  margin-left: 20%;
  background: #29ABE2;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d2d2d2;
}
#slider #portfolio .categoria figure{
  width: 100%;
  position:relative;
}
#slider #portfolio .categoria figure img{
  width: 100%;
  margin-top: 40px;
  margin-left: -40px;
  transform: scale(1.6);
}
#slider #portfolio .categoria figure figcaption{
  position:absolute;
  top:48%;
  left:40px;
  text-transform: uppercase;
  font-size: 1.4em;
}
#slider #portfolio .categoria figure figcaption span{
  display: block;
  color:#c2c2c2;
}

/******************************BLOG*********************************/
#slider #blog{
  height: 100px;
  background: yellow;
}
#contact_form{
  position:absolute;
  right: 0px;
  top:35px;
  background: white;
  width: 250px;
  border-top:1px solid black;
  box-shadow: 0px 0px 3px #9f9e9e;
  font-family: "aller";
  height: 100vh;
  z-index: 999;
  display: none;
}
#contact_form #close_form{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 85%;
  top:190px;
}
#contact_form #close_form:hover{
  cursor: pointer;
}
#contact_form #close_form:before{
  font-family: 'icomoon';
  content:'\ea0f';
  position: relative;
  top:5px;
  left:8px;
}
#contact_form figure{
  height: 180px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #29abe2;
}
#contact_form figure img{
  height: 80%;
  margin: 10px 0px;
}
#contact_form p{
  margin: 20px;
  width: 90%;
  margin-left: 5%;
}
#contact_form input,
#contact_form textarea{
  display: block;
  margin: 20px;
  border:none;
  border-bottom: 2px solid gray;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 3px;
  margin-bottom: 50px;
  font-weight: bold;
}
#contact_form textarea{
  max-width: 90%;
}
#contact_form #button{
  background: #f8931f;
  color:white;
  border: none;
  padding: 8px 0px;
  border-radius: 5px;
}
#contact_form input:focus,
#contact_form textarea:focus{
  outline:0px;
}
#contact_button{
  width: 60px;
  height: 60px;
  background:#FFF ;
  border-radius: 50%;
  color:#f8931f;
  z-index: 80;
  position:fixed;
  right: 10px;
  top:80vh;
}
#contact_button:hover{
  cursor: pointer;
}
#contact_button:before {
  font-family: 'icomoon';
  content: "\ea95";
  position: relative;
  font-size: 3.9em;
  top:-7px;
  left:-2px;
}
/**********FOOTER********/
footer{
  width: 100%;
  background: #000;
  color:white;
  text-align: center;
  z-index: 90;
  height: 150px;
  position: fixed;
  bottom:-130px;
  transition-duration: 0.4s;
}
footer:after{
  content:'\ea50';
  font-family: 'icomoon';
  position: absolute;
  top:0px;
  left:50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -20px;
  border-radius: 50%;
  background: #000;
  color:white;
  font-size: 4.5em;
}
footer:hover:after{
  transform: rotate(180deg);
  background: white;
  color: #000;
  transition-duration: 0.4s;
  font-weight: bold;
}
footer:hover{
  bottom:0px
}
footer .rrss{
  margin-top: 70px;
  width: 100%;
  height: 40px;
}
footer .rrss a{
  width: 40px;
  height: 40px;
  display:inline-block;
  position: relative;
  margin-right:10px;
}
footer .rrss a:before{
  color:white;
  text-decoration: none;
  position:absolute;
  font-size: 2em;
  top:3px;
  left:4px;
  font-family: 'icomoon';
}
footer .rrss a:nth-child(1):before{
  content:'\ea96';
}
footer .rrss a:nth-child(2):before{
  content:'\eab0';
}
footer .rrss a:nth-child(3):before{
  content:'\ea90';
}
footer .rrss a:nth-child(4):before{
  content:'\eaca';
}
footer p{
  font-size: 0.7em;
  font-weight: lighter;
  font-family: 'aller';
}
/******************* Media queries*******/
@media screen and (min-width: 480px){
  #slider #home .mainlogo{
    width: 270px;
    left: 50%;
    margin-left: -135px;
    padding-bottom: 30px;
  }
  #slider #home .mainlogo h2{
    font-size: 1.4em;
  }
  #slider #home .buttonspage > *{
    width: 200px;
  }
  #slider #aboutme article{
    height: 300px;
  }
  #slider #aboutme article .card_about{
    top:230px;
    height: 300px;
  }
  #slider #skills .conocimientos ul{
    /*margin-right: 33px;*/
  }
}

@media screen and (min-width: 600px){
  #slider #aboutme .contentabout figure{
    width: 80%;
    margin-left: 10%;
  }
  #slider #aboutme .contentabout figure img{
    margin-top: -150px;
  }
  #slider #aboutme .descripcion{
    width: 60%;
    margin-left: 17%;
  }
  #slider #aboutme article{
    width: 37%;
    margin-bottom: 50px;
    margin-left: 8%;
    height: 200px;
  }

  #slider #aboutme article .card_about{
    top:140px;
  }
  #slider #skills .conocimientos ul{
    margin: 10px 5%;
  }
}

@media screen and (min-width: 767px){
  body{
    background: yellow;
  }
  header{
    height: 50px;
  }
  header h1{
    display:inline-block;
    width: 20%;
    margin: 0;
    height: 50px;
    margin-left: 80px;
    line-height: 50px;
    min-width: 200px;
  }
  header h1 a{
    display:inline-block;
    vertical-align: middle;
    margin: 0px 3px;
  }
  header h1 figure{
    height: 40px;
    width: 200px;
    margin: 5px;
  }
  header h1 figure img{
    width: 100%;
  }
  header nav{
    display:inline-block;
    vertical-align: middle;
    width: 62%;
  }
  header nav #showMenu,
  header nav #hideMenu{
    display:none;
  }
  header nav #card_menu{
    display:inline-block;
    border:none;
    background: none;
    position:relative;
    top:0px;
    width: 100%;
    text-align: right;
    padding-bottom: 0px;
  }
  header nav #card_menu figure{
    display: none;
  }
  header nav #card_menu ul{
    padding: 0;
    margin: 0;
    margin-top: -15px;
  }
  header nav #card_menu ul li{
    display: inline-block;
    width: 75px;
    text-align: center;
    font-size: 1.2em;
    margin: 0px -2px;
  }
  header nav #card_menu ul li a{
    color:white;
  }
  header #prev_section,
  header #next_section{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #29abe2;
    right: 40px;
    z-index: 999;
    border-radius: 50%;
  }
  header #prev_section{
    top:115px;
  }
  header #next_section{
    top:190px;
  }
  header #prev_section img,
  header #next_section img{
    width: 40%;
    position:relative;
    left:13px;
    top:8px;
  }
  header #next_section img{
    left:17px;
  }
  #contact_form{
    top:50px;
    width: 300px;
  }
  #contact_button{
    right: 30px;
  }
  #slider #skills .content-tecnicas,
  #slider #skills .conocimientos,
  #slider #skills .hobbies{
    width: 70%;
    margin-left: 15%;
  }
  #slider #skills .conocimientos ul{
    margin-right: 2%;
  }
}


@media screen and (min-width: 950px){
  body{
    background: green;
  }
  #slider #aboutme .contentabout{
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
    height: auto;
    max-height: 500px;
    background: white;
    box-shadow: 0px 0px 3px #AFAEAE;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position:relative;
    margin-bottom: 40px;
  }
  #slider #aboutme .contentabout figure{
    width: 100%;
    margin-left: -400px;
    height: 100%;
    position:relative;
    overflow: hidden;
    min-height: 360px;
  }
  #slider #aboutme .contentabout figure img{
  margin-left: 250px;
  }
  #slider #aboutme .contentabout .descripcion{
    box-shadow: none;
    width: 60%;
    position:absolute;
    top:0;
    right: 0;
    height: 100%;
  }
  #slider #aboutme .contentabout .descripcion p{
    padding-top: 10px;
  }
  #slider #aboutme .containerAbout{
    width: 70%;
    margin-left: 15%;
  }
  #slider #aboutme .containerAbout article{
    width: 23%;
    margin-right: 2%;
    margin-left: 0;
    height: 180px;
  }
  #slider #aboutme .containerAbout article:last-child{
    margin-right: 0;
  }
  #slider #aboutme  article .card_about{
    top:115px;
  }
  #slider #aboutme  article .card_about p:last-child{
    margin-top: 30px;
    font-size: 0.8em;
  }
  #slider #skills .content-tecnicas{
    margin:10% 5%;
    width: 90%;
  }
  #slider #skills .main-skills{
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
  #slider #skills .other-skills{
    width: 50%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
  }
  #slider #skills .other-skills h2{
    margin-bottom: 30px;
  }
  #slider #skills .conocimientos,
  #slider #skills .hobbies{
    margin-left: 5%;
    width: 90%;
  }
  #slider #skills .conocimientos{
    margin-bottom: 180px;
  }
  #slider #skills .conocimientos ul{
    margin: 0;
    margin-left: 2%;
  }
  #slider #skills .conocimientos ul li{
    line-height: 25px;
  }
  #slider #skills .hobbies .hobbie:first-child{
    margin-left: 3%;
  }
}
