@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rag506');
  src:  url('fonts/icomoon.eot?rag506#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rag506') format('truetype'),
    url('fonts/icomoon.woff?rag506') format('woff'),
    url('fonts/icomoon.svg?rag506#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\e910";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-display:before {
  content: "\e956";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}

